@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All The Books</h1><br>
    <button action = "http://localhost:5000/Home/aboutus">Hey Don't Touch</button>
</body>
</html>