@{
    ViewData["Title"] = "ContactUs";
    Layout = "_Layout";
}

<h1>Contact US</h1>
<p>
    Email - msvithushan@gmail.com<br>
    Instagram - foolishkid.dev<br>
    Twitter - @@msvithushan<br>
    LinkedIn - Vithushan Sylvester
</p>