@{
    Layout = "_Layout";
}

    <h1 class="accordion">Welcome to vithu's Bookstore</h1><br>
    <p class="align-items-md-stretch">Learn evrything about something and learn something about everything</p>
    <input type="button" value="click here" class="btn-danger">
